<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxyl.yp.mapper.PornMapper">
  <resultMap id="BaseResultMap" type="com.yxyl.yp.model.Porn">
    <id column="porn_id" jdbcType="INTEGER" property="pornId" />
    <result column="porn_time" jdbcType="VARCHAR" property="pornTime" />
    <result column="porn_href" jdbcType="VARCHAR" property="pornHref" />
    <result column="porn_title" jdbcType="VARCHAR" property="pornTitle" />
    <result column="porn_types" jdbcType="VARCHAR" property="pornTypes" />
    <result column="porn_watch" jdbcType="VARCHAR" property="pornWatch" />
  </resultMap>
  <sql id="Base_Column_List">
    porn_id, porn_time, porn_href, porn_title, porn_types, porn_watch
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from porn_detail
    where porn_id = #{pornId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from porn_detail
    where porn_id = #{pornId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yxyl.yp.model.Porn">
    insert into porn_detail (porn_id, porn_time, porn_href, 
      porn_title, porn_types, porn_watch
      )
    values (#{pornId,jdbcType=INTEGER}, #{pornTime,jdbcType=VARCHAR}, #{pornHref,jdbcType=VARCHAR}, 
      #{pornTitle,jdbcType=VARCHAR}, #{pornTypes,jdbcType=VARCHAR}, #{pornWatch,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yxyl.yp.model.Porn">
    insert into porn_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pornId != null">
        porn_id,
      </if>
      <if test="pornTime != null">
        porn_time,
      </if>
      <if test="pornHref != null">
        porn_href,
      </if>
      <if test="pornTitle != null">
        porn_title,
      </if>
      <if test="pornTypes != null">
        porn_types,
      </if>
      <if test="pornWatch != null">
        porn_watch,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pornId != null">
        #{pornId,jdbcType=INTEGER},
      </if>
      <if test="pornTime != null">
        #{pornTime,jdbcType=VARCHAR},
      </if>
      <if test="pornHref != null">
        #{pornHref,jdbcType=VARCHAR},
      </if>
      <if test="pornTitle != null">
        #{pornTitle,jdbcType=VARCHAR},
      </if>
      <if test="pornTypes != null">
        #{pornTypes,jdbcType=VARCHAR},
      </if>
      <if test="pornWatch != null">
        #{pornWatch,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yxyl.yp.model.Porn">
    update porn_detail
    <set>
      <if test="pornTime != null">
        porn_time = #{pornTime,jdbcType=VARCHAR},
      </if>
      <if test="pornHref != null">
        porn_href = #{pornHref,jdbcType=VARCHAR},
      </if>
      <if test="pornTitle != null">
        porn_title = #{pornTitle,jdbcType=VARCHAR},
      </if>
      <if test="pornTypes != null">
        porn_types = #{pornTypes,jdbcType=VARCHAR},
      </if>
      <if test="pornWatch != null">
        porn_watch = #{pornWatch,jdbcType=VARCHAR},
      </if>
    </set>
    where porn_id = #{pornId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yxyl.yp.model.Porn">
    update porn_detail
    set porn_time = #{pornTime,jdbcType=VARCHAR},
      porn_href = #{pornHref,jdbcType=VARCHAR},
      porn_title = #{pornTitle,jdbcType=VARCHAR},
      porn_types = #{pornTypes,jdbcType=VARCHAR},
      porn_watch = #{pornWatch,jdbcType=VARCHAR}
    where porn_id = #{pornId,jdbcType=INTEGER}
  </update>
</mapper>